@import "/src/styles/mixins";
@import "/src/styles/extend";
.Advancesearch_section{
    background-color: var(--dusky-white) !important;
    height: 100vh;
    .card{
        padding: 50px 0px;
        .card-title{
            @include breakpoint (xs){
                text-align: center;
                @include pxtorem(20);
                padding: 0px 30px;
                @include line_height(30px);
            }
        }
    .form__section{
        .form-group{
            margin-top: 30px;
        }
        label{
            @include font(500);
            @include pxtorem(20);
            @include line_height(24px);
            @include breakpoint (sm){
                height: 40px;
                display: flex;
                align-items:flex-end;
                padding: 0px 20px;
            }
            @include breakpoint(ipad){
                @include pxtorem(16);
            }
        }
        input{
            margin-top: 10px;
            @include pxtorem(18);
            @include font(400);
            height: 60px;
            padding-left: 90px;
            @include breakpoint(ipad){
                @include pxtorem(16);
            }
            &:focus {
                outline: none;
                box-shadow: none;
               }
        }
        .btn{
            margin-top: 70px;
            @include width_height(153px, 49px);
                @include pxtorem(20);
                @include line_height(24px);
                &:focus {
                    outline: none;
                    box-shadow: none;
                }

        }

    }
    } 
    input.nosubmit {
        display: block;
        padding: 9px 4px 9px 40px;
        background: transparent url("../../../assets/Images/search_icon.svg")no-repeat 40px center;
        background-size: 30px;
    }  
}

  