
<app-header-dashboardpage></app-header-dashboardpage>
<div class="Advancesearch_section" *ngIf="(!submitted && !registerForm.valid) || (submitted && !registerForm.valid) || (!submitted && registerForm.valid )">
    <div class="container-fluid p-0">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <p routerLink="/dashboardpage">
                        <i class="fa fa-angle-left pr-5" aria-hidden="true"></i>
                        Back
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="card-title text-30-700-36">
                        Search using details mentioned in resume
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 m-auto">
                    <div class="card-body">
                        <div class="form__section">
                            <form id="#registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Candidate Name *</label>
                                            <input 
                                                type="text" 
                                                formControlName="name" 
                                                class="form-control nosubmit"
                                                id="form-control" 
                                                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" 
                                                placeholder="Name of the Candidate"
                                            />
                                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                                <div *ngIf="f['name'].errors['required']">
                                                    Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Candidate Email id *</label>
                                            <input 
                                                type="text" 
                                                formControlName="email" 
                                                class="form-control nosubmit" 
                                                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" 
                                                placeholder="Candidate’s mail id"
                                            />
                                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                                <div *ngIf="f['email'].errors['required']">Email is required</div>
                                                <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="mobileNumber">Phone Number*</label>  
                                            <input   
                                                formControlName="phoneNumber"  
                                                id="phoneNumber"   
                                                type="text"   
                                                class="form-control nosubmit" 
                                                placeholder="Phone Number"
                                                [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
                                            />  
                                            <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                                                <div *ngIf="f['phoneNumber'].errors['required']">Phone Number is required</div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="mobileNumber">Primary Skill</label>  
                                            <input   
                                                formControlName="primaryskill"     
                                                type="text"   
                                                class="form-control nosubmit" 
                                                [ngClass]="{ 'is-invalid': submitted && f['primaryskill'].errors }"
                                                placeholder="Candidate’s primary skill"
                                            />  
                                            <div *ngIf="submitted && f['primaryskill'].errors" class="invalid-feedback">
                                                <div *ngIf="f['primaryskill'].errors['required']">Candidate’s primary skill</div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Candidate Current organisation*</label>
                                            <input 
                                                type="text" 
                                                formControlName="companyName" 
                                                class="form-control nosubmit" 
                                                [ngClass]="{ 'is-invalid': submitted && f['companyName'].errors }" 
                                                placeholder="Organisation name"
                                            />
                                            <div *ngIf="submitted && f['companyName'].errors" class="invalid-feedback">
                                                <div *ngIf="f['companyName'].errors['required']">Company Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 d-none d-md-block">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn">Submit</button> 
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Advancesearch_section" *ngIf="registerForm.valid && submitted">
    <div class="container-fluid p-0">
        <div class="card">
            <div class="row showingResults_section">
                <div class="col-md-2">
                    <p routerLink="/advancedsearch">
                        <i class="fa fa-angle-left pr-5" aria-hidden="true"></i>
                        Back
                    </p>
                </div>
                <div class="col-md-10">
                    <div class="card-title text-30-700-36">
                        <span>
                            <img src="../../assets/Images/search_resulticon.svg" alt="search_resulticon">
                        </span>
                        Showing search results
                    </div>
                    <div class="search-results text-25-500-30">
                        {{onSubmit()}}
                    </div>
                    <div class="text-25-500-30">
                        <a href="">
                            Modify <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="candidate-card">
                <div class="card">
                    <div class="row card-body">
                        <div class="col-md-9">
                            <div class="text-30-700-36">
                                Mahesh Rudra Badaballa<i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    badaballarocks@gmail.com<i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    +91 8928382945 <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    Figma, Adobe XD
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                    Bighaat Agro Pvt Ltd
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 btn-sec">
                            <div class="write btn text-20-400-24"  routerLink="/writereview">
                                Write Review
                            </div>
                            <div class="check btn text-20-400-24" routerLink="/checkreview">
                                Check Reviews
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>