<app-header-dashboardpage></app-header-dashboardpage>
<div class="review_card-section">
    <div class="container-fluid">
       <div class="review_card">
        <div class="row">
            <div class="col-md-12 col-lg-5 from-left">
                <div class="back_btn">
                    <p routerLink="/searchresult">
                        <i class="fa fa-angle-left pr-5" aria-hidden="true"></i>
                        Back
                    </p>
                </div>
                <div class="candidate-card">
                    <div class="card">
                        <div class="card-header text-30-700-36">
                            Candidate's Review
                        </div>
                        <div class="card-body">
                            <div class="text-30-700-36">
                                Mahesh Rudra Badaballa
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    badaballarocks@gmail.com
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    +91 8928382945
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    Figma, Adobe XD
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                    Bighaat Agro Pvt Ltd
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="write btn text-20-400-24" routerLink="/writereviewagain">
                    Write Review
                </div>
            </div>
            <div class="col-md-12 col-lg-7 p-0 from-right">
                <div class="card content_part allreview_card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="text-25-700-30">
                                Onboarding review 
                            </div>
                            <div class="text-20-400-24">
                                13th Mar 2022.
                            </div>
                            <div class="text-25-400-30">
                                by  <span><i class="fa fa-user-circle" aria-hidden="true"></i>
                                </span>Davis Kuruvilla (Bighaat Pvt Ltd).
                            </div>
                            <div class="thumbs-rating">
                                <div class="thumbs-up-rating">
                                    <!-- <span class=" text-20-400-24">13 {{candidate.helpful}}</span> -->
                                   <span class="thumbs-icon">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                   </span>
                                </div>
                                <div class="thumbs-down-rating">
                                    <!-- <span class="text-20-400-24">{{candidate.nothelpful}}</span> -->
                                    <span class="thumbs-icon">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <span class="text-20-400-24">20 views</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="view_btn text-20-400-24" routerLink="/viewreview">
                                View Review
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="text-25-700-30">
                                Onboarding review 
                            </div>
                            <div class="text-20-400-24">
                                13th Mar 2022.
                            </div>
                            <div class="text-25-400-30">
                                by  <span><i class="fa fa-user-circle" aria-hidden="true"></i>
                                </span>Davis Kuruvilla (Bighaat Pvt Ltd).
                            </div>
                            <div class="thumbs-rating">
                                <div class="thumbs-up-rating">
                                    <span class=" text-20-400-24">13</span>
                                   <span class="thumbs-icon">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                   </span>
                                </div>
                                <div class="thumbs-down-rating">
                                    <span class="text-20-400-24">13</span>
                                    <span class="thumbs-icon">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <span class="text-20-400-24">20 views</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="view_btn text-20-400-24" routerLink="/viewreview">
                                View Review
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="text-25-700-30">
                                Onboarding review 
                            </div>
                            <div class="text-20-400-24">
                                19th June 2022.
                            </div>
                            <div class="text-25-400-30">
                                by  <span><i class="fa fa-user-circle" aria-hidden="true"></i>
                                </span>Farrah Jones (Takshila Pvt Ltd).
                            </div>
                            <div class="thumbs-rating">
                                <div class="thumbs-up-rating">
                                    <span class=" text-20-400-24">13</span>
                                   <span class="thumbs-icon">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                   </span>
                                </div>
                                <div class="thumbs-down-rating">
                                    <span class="text-20-400-24">13</span>
                                    <span class="thumbs-icon">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <span class="text-20-400-24">20 views</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="view_btn text-20-400-24" routerLink="/othersreviews">
                                View Review
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>