<app-header-dashboardpage></app-header-dashboardpage>
<div class="review_card-section">
    <div class="container-fluid">
       <div class="review_card">
        <div class="row">
            <div class="col-md-12 col-lg-5 from-left">
                <div class="back_btn">
                    <p routerLink="/searchresult">
                        <i class="fa fa-angle-left pr-5" aria-hidden="true"></i>
                        Back
                    </p>
                </div>
                <div class="candidate-card">
                    <div class="card">
                        <div class="card-header text-30-700-36">
                            Candidate's Review
                        </div>
                        <div class="card-body">
                            <div class="text-30-700-36">
                                {{candidateInfo?.candidate_first_name}} {{candidateInfo?.candidate_middle_name}} {{candidateInfo?.candidate_last_name}}
                            </div>
                            <div class="person_information" *ngIf="candidateInfo.email_id">
                                <div class="text-20-400-24">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>{{candidateInfo?.email_id}}</span>
                                </div>
                            </div>
                            <div class="person_information" *ngIf="candidateInfo.mobile_number">
                                <div class="text-20-400-24">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>+{{candidateInfo?.country_code}} {{candidateInfo?.mobile_number}}</span>
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{candidateInfo?.["primary skill"]}}
                                </div>
                            </div>
                            <div class="person_information" *ngIf="candidateInfo.organisation_name">
                                <div class="text-20-400-24">
                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                    <span>{{candidateInfo?.organisation_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="write btn text-20-400-24" (click)="goToWriteReview(candidateInfo)">
                    Write Review
                </div>
            </div>
            <div class="col-md-12 col-lg-7 p-0 from-right">
                <div class="card content_part allreview_card">
                    <div  *ngIf="allReviews.length !== 0">
                        <div class="row flex-column flex-md-row" *ngFor="let review of allReviews">
                            <div class="col-md-8 mb-3">
                                <div class="text-25-700-30">
                                    <span class="text-capitalize">{{review?.phase}} Review</span> 
                                </div>
                                <div class="text-20-400-24">
                                    {{review?.update_time | date}}
                                </div>
                                <div class="text-25-400-30">
                                    by  <span><i class="fa fa-user-circle user-icon" aria-hidden="true"></i>
                                    </span>{{review?.user_name}} <span class="text-capitalize">({{review?.organization_name}})</span>
                                </div>
                                <div class="thumbs-rating">
                                    <div class="thumbs-up-rating">
                                        <span class=" text-20-400-24">{{review?.Helpful}}</span>
                                    <span class="thumbs-icon" [ngClass]="{'selected':review?.helpfulSelected === 1}" (click)="updateHelpfulCount('helpful', review)">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </span>
                                    </div>
                                    <div class="thumbs-down-rating">
                                        <span class="text-20-400-24 ms-3">{{review?.Not_Helpful}}</span>
                                        <span class="thumbs-icon" [ngClass]="{'selected':review?.nothelpfulSelected === 1}" (click)="updateHelpfulCount('not helpful', review)">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <span class="text-20-400-24 ms-2 mt-0 mt-md-2">20 views</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="view_btn text-20-400-24" routerLink="/viewreview">
                                    View Review
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div *ngIf="allReviews.length == 0" class="text-30-700-36">
                        No Reviews Found for this Candidate.
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>