<div class="footer container-fluid">
    <div class="foot-up">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <div class="reverse">
                    <div class="text-50-500-65">
                        Reverse
                    </div>
                    <div class="text-50-900-65">
                        Glassdoor
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-9 footer-content">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <div class="text-30-700-36">About</div>
                        <ul class="list-unstyled">
                            <li class="text-20-400-24"><a href="#">About us</a></li>
                            <li class="text-20-400-24"><a href="#">Blog / Post</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="text-30-700-36">Contact</div>
                        <ul class="list-unstyled">
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Help Center</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="text-30-700-36">Community</div>
                        <ul class="list-unstyled">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">User Agreement</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Copyrights</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
        <div class="follow text-32-400-45">
            Follow us: 
            <a href="#"><img src="./../../../assets/Images/twitter-logo.svg" alt="twitter Logo"></a>
            <a href="#"><img src="./../../../assets/Images/Fblogo.svg" alt="fb logo"></a>
        </div>
    </div>
    

    <div class="row foot-down text-32-400-45">
        Reverse Glassdoor @ 2022      All copyrights issued
    </div>
</div>

