.container, .container-fluid {  
}

.text-30-700-36{
    @include font(600);
    @include pxtorem(30);
    @include line_height(36px);
    @include breakpoint(xs) {
        @include pxtorem(16);
        @include line_height(20px);
    }
    @include breakpoint($min: 768px, $max: 1023px) {
        @include pxtorem(20);
    }
}
.text-26-500-36{
    @include font(500);
    @include pxtorem(26);
    @include line_height(36px);
    @include breakpoint(xs) {
        @include pxtorem(16);
        @include line_height(20px);
    }
    @include breakpoint($min: 768px, $max: 1023px) {
        @include pxtorem(20);
    }
}
.text-30-500-36{
    @include font(500);
    @include pxtorem(30);
    @include line_height(36px);
    color: var(--white); 
    @include breakpoint(xs) {
        @include pxtorem(16);
        @include line_height(20px);
    }
    @include breakpoint($min: 768px, $max: 1023px) {
        @include pxtorem(20);
    } 
}
.text-25-400-30{
    @include pxtorem(25);
    @include line_height(30px);
    @include font(400);
    color: var(--gray-lighter);
    @include breakpoint(ipad){
        @include pxtorem(18);
    }
}

.text-20-400-24{
    @include pxtorem(20);
    @include line_height(24px);
    @include font(400);
    color:var(--grey-lighter);
    @include breakpoint(ipad){
        @include pxtorem(16);
    }
}
.text-25-700-30{
    @include pxtorem(25);
    @include line_height(30px);
    @include font(400);
    color: var(--black);
    padding: 45px 0px 20px 0px;
    @include breakpoint(ipad){
        @include pxtorem(18);
    }
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
    backdrop-filter: blur(20px);
    @include font(500);
    &:hover{
        opacity: 0.8;
    } 
    @include breakpoint(ipad){
        @include pxtorem(18);
        @include line_height(25px);
        height: 55px;
    }
}
.write{
    @include width_height(215px, 49px);
    color: var(--white) !important;
    cursor: pointer;
    @include margin{margin: 1em 0em};
    @include breakpoint(ipad) {
        @include width_height(150px, 30px);
        @include pxtorem(14);
    }
    @include breakpoint(xs){
        @include margin{margin-top: 1em};
    }
}
.check{
    @include width_height(215px, 49px);
    border: 2px solid var(--purple);
    border-radius: 5px;
    cursor: pointer;
    @include font(500);
    background-color: white;
    color: var(--purple) !important;
    @include breakpoint(ipad) {
        @include width_height(150px, 30px);
        @include pxtorem(14);
    }
}
.input-group{
    border-radius: 5px;
    input{
        @include font(400);
        @include pxtorem(20);
        @include line_height(36px);
        color: var(--gray);
        padding-left: 40px;
        &:focus {
            outline: none;
           box-shadow: none;
        }
        @include breakpoint(xs) {
            @include pxtorem(16);
            @include line_height(0px);
            padding-left: 20px;
        }
    }
    .input-group-text{
        background-color: var(--purple);
        border: none;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
        img{
        position: relative;
        top: 8px;
        width: 50px;
        }
    }
}
p{
    @include font(500);
    @include pxtorem(25);
    @include line_height(30px);
    color: var(--grey-light);
    display: flex;
    align-items: center;
    padding-left: 40px;
    cursor: pointer;
    @include breakpoint(ipad){
        @include pxtorem(20);
        padding-left: 20px;
    }
    i{
        font-size: 50px;
        padding-right: 15px;
        @include breakpoint(ipad){
            @include pxtorem(30);
        }
    }
    &:hover{
        opacity: 0.8;
    }

}
.ratings{
    rating{
        font-size: 1.4em;
        color: var(--gold);
        span[class*= "!active"]{
            color: var(--grey-lighter) !important;
        }
    }
}


.thumbs-rating{
    display: flex;
    @include breakpoint(xs){
        margin-top: 12px;
    }
    .thumbs-icon{
        @include margin {
            margin-left: 0.5em;
        }
        cursor: pointer;
        background-color: #C4C4C4;
        text-align: center;
        padding:7px 10px;
        border-radius: 100%;
        color: var(--grey-light);
        @include pxtorem(26);
        @include breakpoint(ipad){
            font-size: 1.2em;
        }
    }
    .text-20-400-24{
        @include margin {
            margin-top: 0.4em;
         }
        @include breakpoint(min1200){
            @include margin {
               margin-left: 0.6em;
            }
        }
    }
}
.view_btn{
    height: 49px;
    border:3px solid #62177C;
    border-radius: 5px;
    color: var(--purple);
    @include font(700);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:200px;
    cursor: pointer;
    // add icons and remove the padding
    margin-bottom: 45px;
    @include breakpoint(min1200) {
        @include width_height(230px, 49px);
    }
    @include breakpoint(ipad){
        border: 2px solid var(--purple);
        padding: 5px 10px;
        @include font(400);
    }
    @include breakpoint(xs){
        margin-bottom: 40px;
    }
}

.candidate-card{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(98, 23, 124, 0.1);
    @include margin {
        margin: 1em;
    }
    @include breakpoint(sm){
        margin-top: 136px;
    }
    @include breakpoint(min1601){
        margin: 136px 100px;
    }
    .card-header{
        background-color: var(--purple);
        color: white;
        border-radius: 10px;
        display:flex;
        justify-content: left;
        align-items: left;
        @include breakpoint(xSmall){
            height: 73px;
            justify-content: center;
            align-items: center;
        }
    }
    .text-30-700-36{
        @include pxtorem(30);
        @include line_height(36px);
        @include font(500);
        padding: 0.5em 1em;
        @include breakpoint(ipad){
            @include pxtorem(20);
            padding: 0.8em 1em;
        }
        @include breakpoint(xSmall){
            padding: 0px;
        }
    }
    .card-body{
        .text-20-400-24{
            @include pxtorem(20);
            @include line_height(24px);
            @include font(400);
            color:var(--black);
            @include breakpoint(ipad){
                @include pxtorem(15);
            }
            i{
                font-size: 1.5em;
                color: var(--purple);
                padding: 0.5em 1em;
                @include breakpoint(xs){
                    padding-left: 0px;
                    font-size: 14px;
                }
            }
        }
    }
}
.text-25-400-30{
    color: var(--black-light);
    @include margin {
        margin-bottom: 1em ;
    }
}
.text-18-400-21{
    @include pxtorem(18);
    @include line_height(21px);
    @include font(400);
    color: var(--blue);
    text-decoration: underline;
    padding-left: 40px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
    @include breakpoint(ipad){
        @include pxtorem(16);
    }
}
.text-20-600-24{
    @include pxtorem(20);
    @include line_height(24px);
    @include font(600);
    color:var(--light-green);  
    padding: 45px 0px; 
    @include breakpoint(xs){
        padding: 20px 0;
    }
}
.rejected_color{
    color: var(--red);
}
.pending-color{
    color: var(--faded-red);
}
// View Reviews : Approved, Rejected & Pending
.candidate-card{
    border-radius: 0px;
    box-shadow: unset;
    .card{
        background-color: transparent !important;
        border: none;
    }
    .card-header{
        background-color: transparent !important;
        color: var(--purple) !important;
        border-radius: 0px;
        border: none;
    }
    .text-30-700-36{
        @include font(700);
        @include pxtorem(35);
        @include line_height(42px);
    }
    .candidate_name{
        @include font(600);
        @include pxtorem(25);
        @include line_height(30px);
    }
}
.Onboarding_reviewpage{
    .container-fluid{
        background-color: var(--dusky-white);
        min-height: 100vh;
        .Onboarding_reviewContainer{
            padding: 60px 0px;
            min-height: 100vh;
            .card-title{
                padding: 10px;
                @include breakpoint(sm){
                    padding: 30px 60px 0px 60px;
                }
                .text-30-700-36, .text-25-400-30, .text-20-400-24 {
                    padding-bottom: 10px;
                    @include breakpoint(sm){
                        padding-bottom: 18px;
                    }
                }
                .text-25-400-30{
                    color: var(--black);
                    @include breakpoint(ipad){
                        @include pxtorem(16);
                    }
                    .fa-user-circle{
                        color: var(--grey-lighter);
                    }
                }
                .text-20-600-24{
                    @include margin{
                        margin-left: 3em;
                        @include breakpoint(xs){
                            margin-left: 1em;
                            @include pxtorem(14);
                        }
                    }
                }
            }
            .card-body{
                @include breakpoint(sm){
                    padding: 30px 60px 60px 60px;
                }
                .text-20-400-24{
                    @include font(400);
                    @include pxtorem(20);
                    @include line_height(34px);
                    color: var(--black);
                    @include breakpoint(ipad){
                        @include pxtorem(16);
                        @include line_height(31px);
                    }
                }
                .improper{
                    color: var(--gray-lighter) !important;
                    @include margin{
                        margin-top: -15px;
                        margin-bottom: 2em;
                    }
                }
                .para{
                    @include margin{
                        margin-top: 1em;
                        margin-bottom: 50px;     
                    }
                }
                .thumbs-rating{
                    display: flex;
                }
                .btn{
                    color: white;
                    margin: 1em 0;
                }
            }
        }
    }
}

#deactivateModal,#logOutModal, #loginPopUp{
    .modal-content{
        border-radius: 10px;
        padding: 0 1em;
        text-align: right;
        position: relative;
        margin-right: 10px;
        background-color: #FFFFFF;
        @include width_height (820px, 380px) ;
        @include breakpoint(ipad){
            @include width_height (540px, 380px) ;
        }
        @include breakpoint(xs){
            @include width_height (300px, 380px) ;
        }
            .body-modal{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: white;
            text-align: center;
            padding: 0 1em;
            h2{
                color: var(--black-light);
                border-bottom: 2px solid black;
                padding: 1em;
            }
            @include width_height (800px, 380px) ;
            @include breakpoint(ipad){
                @include width_height (520px, 380px) ;
            }
            @include breakpoint(xs){
                @include width_height (280px, 380px) ;
            }
            p{
                color: var(--black);
                padding-right: 40px;
            }
            .btn-sec{
                display: flex;
                gap: 3em;
                @include breakpoint(xs){
                    gap: 1em;
                    }
                .btn{
                    @include breakpoint(ipad){
                        height: 45px;
                        margin: 1em 0;
                    }
                    @include breakpoint(xs){
                        @include width_height(100px, 30px);
                    }
                }
                .check{
                    @include margin{margin: 1em 0em};
                }
            }
            }
    }
}

// Green Staus Modal Popup
 
.modal-content{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    @include width_height (500px, 70px) ;
    @include breakpoint(ipad){
        width: 450px;
    }
    @include breakpoint(xs){
        width: 300px;
    }
    .body-modal{
    display: flex;
    border-radius: 10px;
    background-color: var(--light-green);
    justify-content: space-around;
    align-items: flex-end;
    color: var(--dusky-white);
    @include width_height (500px, 70px) ;
    @include breakpoint(ipad){
        width: 450px;
    }
    @include breakpoint(xs){
        @include width_height(300px, 70px)
    }
   i{
    font-size: 2rem;  
}
   .vl {
    border-right: 2px solid #FFFFFF;
    height: 3rem;
    width: 1px;
    box-shadow: 1px 0px 4px rgba(98, 23, 124, 0.25);
  }
}
}
