:root {
  /* --green: #21c926; */
  --black: #000000;
  /* --White-Smoke: #f3f3f3; */
  --white: #FFFFFF;
  --gray: #BABABA;
  --dark-gray: #C4C4C4;
  --grey-light: #626262;
  --grey-lighter: #767676; 
  --purple:#62177C;
  --black-light:#484547;
  --blue: #0067A1;
  --gray-light:#646464;
  --light-green:#0C9A9A;
  --red:#D32800;
  --light-purple: #F5D8FF;
  --dusky-white:#F4F4F4;
  --gold: #FFB762;
  --faded-red: #F87556;
  --hover: #F9ECFD;
  --footer-black: #1B2E4C;
  --deactivate-red: #D21900;






}

