@import "/src/styles/mixins";
@import "/src/styles/extend";

.Onboarding_reviewpage {
    .card-title {
        .text-20-600-24 {
            &.review-status {
                line-height: inherit;
            }
        }
    }
    .card-body{
        .btn {
            width: 215px;
        }
        .reject-btn {
            margin-left: 16px !important;
            background-color: transparent;
            color: var(--purple) !important;
            border:solid 2px;
        }
    }
    .candidate-card {
        .card-header {
            padding-left: 25px;
        }
    }
    .thumbs-icon {
        &.selected {
            background-color: #3498db;
            pointer-events: none;
        }
    }
    #approveRejectModal{
        .modal-dialog-centered {
            justify-content: center;
        }
        .modal-content{
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 0 1em;
            text-align: right;
            background-color: white;
            position: relative;
            @include width_height (820px, 380px) ;
            @include breakpoint(ipad){
                @include width_height (540px, 380px) ;
            }
            @include breakpoint(xs){
                @include width_height (300px, 380px) ;
            }
            a{
                text-decoration: none;
                color: var(--grey-light);
                font-size: 3em;
                position: absolute;
                right: 12px;
            }
            .body-modal{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: white;
                align-items: center;
                text-align: center;
                margin-top: 50px;
                color: var(--black-light);
                @include width_height (800px, 380px) ;
                @include breakpoint(ipad){
                    @include width_height (520px, 380px) ;
                }
                @include breakpoint(xs){
                    @include width_height (280px, 380px) ;
                }
                h2 {
                    width: 370px;
                    height: 50px;
                    border-bottom: solid 1px #000;
                }
                .reason-text {
                    width: 70%;
                    height: 128px;
                }
                .text-18-400-22{
                    @include pxtorem(18);
                    @include line_height(21px);
                    @include font(400);
                    margin: 30px 80px;
                    line-height: 24px;
                }
                .cancel {
                    background: transparent;
                    color: var(--purple);
                    border: solid 2px;
                    margin-right: 25px;
                }
                .btn{
                    margin-bottom: 2.5em;
                    @include breakpoint(ipad){
                        height: 45px;
                        margin: 1em 0;
                    }
                }
            }
        }
    }
}

