<app-header-dashboardpage></app-header-dashboardpage>
<div class="Onboarding_reviewpage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-7 p-0">
                <div class="card Onboarding_reviewContainer">
                    <p routerLink="/dashboardpage">
                        <i class="fa fa-angle-left pr-5" aria-hidden="true"></i>
                        Back
                    </p>
                    <div class="card-title">
                       <div class="text-30-700-36 d-flex">
                            <span class="text-capitalize">{{currentReview?.phase}} review</span> 
                            <span class="text-20-600-24 p-0 review-status" *ngIf="currentReview?.status === 'Approved'">
                                <img src="../../assets/Images/tick.svg" alt="tick">&nbsp;&nbsp; {{currentReview?.status}}
                            </span>
                            <div class="text-20-600-24 rejected_color p-0 review-status" *ngIf="currentReview?.status === 'Rejected'">
                                <img src="../../assets/Images/cross.svg" alt="cross" >&nbsp;&nbsp;{{currentReview?.status}}
                            </div>
                            <div class="text-20-600-24 pending-color p-0 review-status" *ngIf="currentReview?.status === 'Approval Pending'"> 
                                {{currentReview?.status}}
                            </div>
                            </div>
                        <div class="text-25-400-30 mb-0">
                            by  <span><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                            <span *ngIf="reviewerInfo?.user_category === 'normal user'">{{reviewerInfo?.first_name}} {{reviewerInfo?.middle_name}} {{reviewerInfo?.last_name}} <span class="text-capitalize">({{reviewerInfo?.current_org}})</span>.</span>
                            <span *ngIf="reviewerInfo?.user_category === 'moderator'">{{currentReview?.reviewerName}} <span class="text-capitalize">({{currentReview?.reviewerOrg}})</span>.</span>
                        </div>
                        <div class="text-20-400-24">
                            Reviewed on {{currentReview?.create_time | date}}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-30-700-36 ratings">
                            <rating [(ngModel)]="rate" [max]=5 [readonly]="true"></rating>
                        </div>
                        <div class="text-20-400-24 para">
                            {{currentReview?.feedback}}
                        </div>
                        <div *ngIf="currentReview?.status !== 'Approved' && reviewerInfo?.user_category === 'normal user'">
                            <button class="btn" (click)="updateReview()" routerLink="/candidatereview">Update Review</button>
                        </div>
                        <div *ngIf="reviewerInfo?.user_category === 'moderator'" class="d-flex">
                            <button class="btn" (click)="moderatorAction('approved', false)" data-toggle="modal" data-target="#approveRejectModal">Approve</button>
                            <button class="btn reject-btn" (click)="moderatorAction('rejected', false)" data-toggle="modal" data-target="#approveRejectModal">Reject</button>
                            <div class="modal fade" id="approveRejectModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                        <div class="body-modal">
                                            <h2>{{modalHeader}}</h2>
                                            <div class="w-100" *ngIf="((selectedStatus === 'rejected') && !confirmRejection)">
                                                <textarea class="reason-text" placeholder="Enter Reason for Rejection" [(ngModel)]="reason"></textarea>
                                            </div>
                                            <div class="text-18-400-22" *ngIf="selectedStatus === 'approved' || ((selectedStatus === 'rejected') && confirmRejection)">
                                                {{modalContent}}
                                            </div>
                                            <div class="d-flex">
                                                <button type="button" id="cancelButton" class="btn cancel" (click)="onCancel()" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button type="button" class="btn" *ngIf="((selectedStatus === 'rejected') && !confirmRejection)" (click)="onSubmit()">Submit</button>
                                                <button type="button" class="btn"  *ngIf="((selectedStatus === 'rejected') && confirmRejection)" (click)="moderatorAction('rejected', true)" data-dismiss="modal">Reject</button>
                                                <button type="button" class="btn"  *ngIf="selectedStatus === 'approved'" (click)="moderatorAction('approved', true)" data-dismiss="modal">Approve</button>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumbs-rating" *ngIf="currentReview?.status === 'Approved'">
                            <div class="thumbs-up-rating">
                                <span class=" text-20-400-24">{{currentReview?.Helpful}}</span>
                               <span class="thumbs-icon" [ngClass]="{'selected':currentReview.helpfulSelected === 1}" (click)="updateHelpfulCount('helpful', currentReview)">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                               </span>
                            </div>
                            <div class="thumbs-down-rating">
                                <span class="text-20-400-24">{{currentReview?.Not_Helpful}}</span>
                                <span class="thumbs-icon" [ngClass]="{'selected':currentReview.nothelpfulSelected === 1}" (click)="updateHelpfulCount('not helpful', currentReview)">
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                </span>
                            </div>
                            <span class="text-20-400-24">20 views</span>
                        </div> 
                        <!-- <div class="help_btn text-20-400-24">
                            Was this helpful?
                        </div>
                        <div class="help_btnn text-20-400-24">
                            <div class="helpful_btn">
                                Helpful
                            </div>
                            <div class="helpful_btn">
                                Not Helpful
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="candidate-card">
                    <div class="card">
                        <div class="card-header text-30-700-36">
                            Candidate Details
                        </div>
                        <div class="card-body p-0">
                            <div class="candidate_name text-30-700-36">
                                {{currentReview?.first_name}} {{currentReview?.middle_name}} {{currentReview?.last_name}}
                            </div>
                            <!-- Hide till apyment option has been introduced -->
                            <!-- <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    
                                    {{currentReview?.email}}
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    {{currentReview?.phone_number}}
                                </div>
                            </div> -->
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{currentReview?.primary_skill}}
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                    {{currentReview?.current_org}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>