<app-header-dashboardpage></app-header-dashboardpage>
<div class="Onboarding_reviewpage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-7 p-0">
                <div class="card Onboarding_reviewContainer">
                    <p routerLink="/dashboardpage">
                        <i class="fa fa-angle-left pr-5" aria-hidden="true"></i>
                        Back
                    </p>
                    <div class="card-title">
                       <div class="text-30-700-36">
                            {{currentReview?.phase}} review 
                            <span class="text-20-600-24" *ngIf="currentReview?.status === 'Approved'">
                                <img src="../../assets/Images/tick.svg" alt="tick">&nbsp;&nbsp; {{currentReview?.status}}
                            </span>
                            <div class="text-20-600-24 rejected_color" *ngIf="currentReview?.status === 'Rejected'">
                                <img src="../../assets/Images/cross.svg" alt="cross" >&nbsp;&nbsp;{{currentReview?.status}}
                            </div>
                            <div class="text-20-600-24 pending-color" *ngIf="currentReview?.status === 'Approval Pending'"> 
                                {{currentReview?.status}}
                            </div>
                            </div>
                        <div class="text-25-400-30">
                            by  <span><i class="fa fa-user-circle" aria-hidden="true"></i>
                            </span>  Davis Kuruvilla (Bighaat Pvt Ltd).
                        </div>
                        <div class="text-20-400-24">
                            Reviewed on {{currentReview?.create_time | date}}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-30-700-36 ratings">
                            <rating [(ngModel)]="rate" [max]=5 [readonly]="false"></rating>
                        </div>
                        <div class="text-20-400-24 para">
                            {{currentReview?.feedback}}
                        </div>
                        <div class="thumbs-rating">
                            <div class="thumbs-up-rating">
                                <span class=" text-20-400-24">{{currentReview?.Helpful}}</span>
                               <span class="thumbs-icon">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                               </span>
                            </div>
                            <div class="thumbs-down-rating">
                                <span class="text-20-400-24">{{currentReview?.Not_Helpful}}</span>
                                <span class="thumbs-icon">
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                </span>
                            </div>
                            <span class="text-20-400-24">20 views</span>
                        </div> 
                        <!-- <div class="help_btn text-20-400-24">
                            Was this helpful?
                        </div>
                        <div class="help_btnn text-20-400-24">
                            <div class="helpful_btn">
                                Helpful
                            </div>
                            <div class="helpful_btn">
                                Not Helpful
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="candidate-card">
                    <div class="card">
                        <div class="card-header text-30-700-36">
                            Candidate Details
                        </div>
                        <div class="card-body p-0">
                            <div class="candidate_name text-30-700-36">
                                Mahesh Rudra Badaballa
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <!-- <img src="../../assets/Images/mobileicon.svg" alt="mobileicon"> -->
                                    badaballarocks@gmail.com
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <!-- <img src="../../assets/Images/mobileicon.svg" alt="mobileicon"> -->
                                    +91 8928382945
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    Figma, Adobe XD
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                    Bighaat Agro Pvt Ltd
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>