@import "/src/styles/mixins";
@import "/src/styles/extend";

.Onboarding_reviewpage{
    .container-fluid{
        background-color: var(--dusky-white);
        min-height: 100vh;
        .Onboarding_reviewContainer{
            padding: 60px 0px;
            min-height: 100vh;
            .card-title{
                padding: 10px;
                justify-content: flex-start;
                align-items: center;
                @include breakpoint(sm){
                    padding: 30px 60px 0px 60px;
                }
                .text-30-700-36, .text-25-400-30, .text-20-400-24 {
                    padding-bottom: 10px;
                    @include breakpoint(sm){
                        padding-bottom: 18px;
                    }
                }
                .text-25-400-30{
                    @include breakpoint(ipad){
                        @include pxtorem(16);
                    }
                    .fa-user-circle{
                        color: var(--grey-lighter);
                    }
                }
                .text-20-600-24{
                    padding: 8px 0px;
                    @include margin {
                        margin-left:56px;
                    }
                }
            }
            .card-body{
                @include breakpoint(sm){
                    padding: 30px 60px 60px 60px;
                }
                .text-20-400-24{
                    @include font(400);
                    @include pxtorem(20);
                    @include line_height(31px);
                    color: var(--black);
                    @include breakpoint(ipad){
                        @include pxtorem(16);
                        @include line_height(31px);
                    }
                }
                .btn-sec{
                    margin: 5em 0;
                    display: flex;
                    gap: 3em;
                }
                .help_btn{
                    display: flex;
                    @include margin {
                        margin-top: 50px;
                    }
                }
                .help_btnn{
                    @include margin {
                        margin-top: 30px;
                    }
                    display: flex;
                    justify-content: space-around;
                    @include breakpoint(sm){
                        width: 50%;
                    }
                    .helpful_btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include width_height(40%, 47px);
                        cursor: pointer;
                        &:hover,[class*= "active"]{
                            background: #FFFFFF;
                            box-shadow: 2px 2px 10px rgb(98 23 124 / 20%);
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}

.candidate-card{
    border-radius: 0px;
    box-shadow: unset;
    .card{
        background-color: transparent !important;
        border: none;
    }
    .card-header{
        background-color: transparent !important;
        color: var(--purple) !important;
        border-radius: 0px;
        border: none;
    }
    .text-30-700-36{
        @include font(700);
        @include pxtorem(35);
        @include line_height(42px);
    }
    .candidate_name{
        @include font(600);
        @include pxtorem(25);
        @include line_height(30px);
    }
}