

<header class="fixed-top header_section">
    <div class="container-fluid">
        <div class="hero_section">
            <div class="hero_logo">
                <div class="text-50-900-60" routerLink="/">Reverse Glassdoor</div>
            </div>
            <div class="hero_icons">
                <div class="hdr-btn" [hidden]="true">
                    Try Premium
                </div>
                <div class="dropdown dropleft ">
                    <a href="#" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" role="button">
                        <img src="../../assets/Images/notification_icon.svg">
                    </a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="notificationDropdown">
                        <div class="card">
                            <div class="card-title">
                                Notifications   
                            </div>
                            <div *ngFor="let candidate of allAllReviewList">
                                <div class="card-body" >
                                    <!-- {{candidate| json}} -->
                                    <a class="dropdown-item" *ngIf="candidate?.status === 'Approval Pending'" routerLink="/viewreviewpending">
                                        <div class="card reject" >
                                            <div class="card-body text-20-600-24 ">
                                                <div class="pending-color">
                                                {{candidate?.status}}
                                                </div>
                                            </div>
                                            <div>
                                                Interview Review (Manohar Konireddi)
                                            </div>
                                            <div class="text-18-400-21" >
                                                1 hour ago
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" *ngIf="candidate?.status === 'Rejected'" routerLink="/viewreviewreject">
                                        <div class="card reject" >
                                            <div class="card-body text-20-600-24 ">
                                                <div class="rejected_color">
                                                        <img  class="status" src="../../../assets/Images/cross.svg" alt="">
                                                        {{candidate?.status}}
                                                </div>
                                                <div>
                                                    Interview Review (Manohar Konireddi)
                                                </div>
                                                <div class="text-18-400-21" >
                                                      1 hour ago
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" *ngIf="candidate?.status === 'Approved'"  routerLink="/viewreview">
                                        <div class="card approve" >
                                            <div class="card-body text-20-600-24 ">
                                                <div class="approved_color">
                                                        <img  class="status" src="../../../assets/Images/tick.svg" alt="">
                                                        {{candidate?.status}}
                                                </div>
                                                <div>
                                                    Interview Review (Manohar Konireddi)
                                                </div>
                                                <div class="text-18-400-21" >
                                                     5 hour ago
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown dropleft  dropdown-toggle-split" >
                    <a href="" id="imageDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="../../assets/Images/image_icon.svg">
                    </a>
                    <div class="dropdown-menu" id="edit-profile" role="menu" aria-labelledby="imageDropdown">
                        <a class="dropdown-item  text-20-600-24" routerLink="/editprofile">Edit Profile</a>
                        <a class="dropdown-item  text-20-600-24" href="#">Help Center</a>
                        <a class="dropdown-item  text-20-600-24" data-toggle="modal" data-target="#logOutModal">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
                <div class="body-modal">
                    <h2>Log Out ?</h2>
               <div>
                <p class="text-20-400-24">
                    Are you sure you want to log out?
                </p>
               </div> 
               <div class="btn-sec">
                    <span class="check btn text-20-400-24" data-dismiss="modal" aria-label="Close">
                        Cancel
                    </span>
                    <span class="write btn text-20-400-24" data-dismiss="modal" routerLink="/" (click)="removeUserInfo()">
                        Log Out
                    </span>
                </div>
            </div>  
      </div>
    </div>
</div>