@import "/src/styles/mixins";
@import "/src/styles/extend";

.header_section{
    padding: 20px 20px;
    background-color: var(--white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    .hero_section{
        display: flex;
        justify-content: space-between;
        .hero_logo{
            display: flex;
            justify-content: center;
            align-items: center;
            .text-50-900-60{
                @include font(900);
                @include pxtorem(50);
                @include line_height(60px);
                color: var(--purple);
                cursor: pointer;
                @include breakpoint(xs) {
                    @include line_height(20px);
                    @include pxtorem(17);
                }
                @include breakpoint($min: 768px, $max: 1023px) {
                    @include line_height(25px);
                    @include pxtorem(30);
                }
            }
        }
        .hero_icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 3em;
            // ul{
            //     list-style-type: none;
            //     display: flex;
            //     @include margin {
            //         margin: 10px 0px;
            //     }
                .dropdown{
                    padding-left: 71px;
                    cursor: pointer;
                    z-index: 1;
                    &:hover{
                        opacity: 0.8;
                    }
                    @include breakpoint(xSmall) {
                        padding-left: 15px;
                    }
                    @include breakpoint(ipad) {
                        padding-left: 40px;
                    }
                    img{
                        width: 30px;
                        height: 30px; 
                        @include breakpoint(sm) {
                            @include width_height(40px,40px);
                        }
                    }
                    .dropdown-menu{
                        padding: 0;
                        width: 32em;
                    
                    .card{
                        padding: 0 1em;
                        border-radius: 10px;
                        
                        .text-20-600-24{
                            @include pxtorem(20);
                            @include line_height(24px);
                            @include font(400);
                            color:var(--black);  
                            padding: 45px 0px; 
                            .status{
                                width: 0.8em;
                            }
                        }
                        .text-18-400-21{
                            @include pxtorem(18);
                            @include line_height(21px);
                            @include font(400);
                            margin-top: 10px;
                            color: gray;
                            @include breakpoint(ipad){
                                @include pxtorem(16);
                            }
                        }
                        .reject{
                            border-left: 10px solid var(--red);
                        }
                        .approve{
                            border-left: 10px solid var(--light-green);

                        }
                       
                        .rejected_color{
                            color: var(--red);
                        }
                        .approved_color{
                            color: var(--light-green);
                        }
                    }
                }
                #edit-profile{
                    width: 12em;
                    border-radius: 10px;
                    padding: 1em;
                    .text-20-600-24{
                        @include pxtorem(20);
                        @include line_height(24px);
                        @include font(400);
                        color:var(--black);  
                    }
                    a{
                        margin: 1em 0;
                    }
                }
                }

            // }
        }
    }
}

