<header class="fixed-top header_section">
    <div class="container-fluid">
        <div class="hero_section">
            <div class="hero_logo">
                <div class="text-50-900-60" routerLink="/">Reverse Glassdoor</div>
            </div>
            <div class="hero_icons">
              <ul>
                <li routerLink="/login">
                    <img src="../../assets/Images/notification_icon.svg" alt="Search_buttonicon">
                </li>
                <li routerLink="/signup">
                    <img src="../../assets/Images/image_icon.svg" alt="Search_buttonicon">
                </li>
              </ul>
            </div>
        </div>
    </div>
</header>
