<app-header-dashboardpage></app-header-dashboardpage>
<div class="fixed-top dashboardpage_header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="">
                    <div class="btn write-review_btn" routerLink="/candidatereview">
                        <span>
                            <img src="../../assets/Images/write_review_icon.svg" alt="write_review_icon">
                        </span>
                        Write a review
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-1 col-lg-1">
                <div class="d-flex vertical_line">
                    <div class="vr"></div>
                </div>
            </div> -->
            <div class="col-12 col-md-7 col-lg-7">
               <div class="d-flex">
                <form action="/action_page.php">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Name / Email Address / Phone number" name="email">
                      <span class="input-group-text">
                          <figure>
                            <img src="../../assets/Images/Search_buttonicon.svg" alt="Search_buttonicon">
                          </figure>
                      </span>
                    </div>
                </form>
                <div class="action_btn">
                    Advanced Search
                </div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="candidates_details">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="profile_card">
                        <div class="card">
                            <div class="profile_img">
                                <figure>
                                    <img src="../../assets/Images/profile_img.svg" alt="profile_img">
                                   <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg"  class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                   </a> 
                                </figure>
                            </div>
                            <div class="profile_details">
                                <h2 class="text-35-700-42">
                                    Mahesh  Rudra  
                                    <br> Badaballa
                                </h2>
                                <h4 class="text-25-400-30">
                                    Daviskuruvilla@bighaat.com
                                </h4>
                                <h5>
                                    <a href="">About organisation</a>
                                </h5>
                                <div class="more-horiz-icon">
                                    <a href="">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </a>                                
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-8">
                    <div class="feedback_insights">
                        <div class="card card_height">
                            <div class="card-title">
                                Feedback Insights
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                  <a class="nav-link " href="#" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"  role="tab" aria-controls="nav-home" aria-selected="true">
                                    <div class="text-40-500-48">00</div>
                                    <small class="text-22-500-26">All Reviews</small>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"  role="tab" aria-controls="nav-profile" aria-selected="false">
                                    <div class="text-40-500-48">00</div>
                                    <small class="text-22-500-26">Approved</small>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#"  id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"  role="tab" aria-controls="nav-contact" aria-selected="false">
                                    <div class="text-40-500-48">00</div>
                                    <small class="text-22-500-26">Rejected</small> 
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link " href="#" id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending"  role="tab" aria-controls="nav-pending" aria-selected="false">
                                    <div class="text-40-500-48">00</div>
                                    <small class="text-22-500-26">Pending</small>
                                  </a>
                                </li>
                              </ul>

                            <!-- <div class="tabs">
                                <nav>
                                    <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                        <div class="nav-link  active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"  role="tab" aria-controls="nav-home" aria-selected="true">
                                            <div class="text-40-500-48">00</div>
                                            <small class="text-22-500-26">All Reviews</small>
                                        </div>
                                        <div class="nav-link  " id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"  role="tab" aria-controls="nav-profile" aria-selected="false">
                                            <div class="text-40-500-48">00</div>
                                            <small class="text-22-500-26">Approved</small>
                                        </div>
                                        <div class="nav-link " id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"  role="tab" aria-controls="nav-contact" aria-selected="false">
                                            <div class="text-40-500-48">00</div>
                                            <small class="text-22-500-26">Rejected</small>
                                        </div>
                                        <div class="nav-link " id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending"  role="tab" aria-controls="nav-pending" aria-selected="false">
                                            <div class="text-40-500-48">00</div>
                                            <small class="text-22-500-26">Pending</small>
                                        </div>
                                    </div>
                                </nav>
                            </div> -->
                        </div>
                        <div class="card content__part mt-4">
                            <div class="card-title">
                                All reviews <small class="text-18-400-21">View All</small>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div *ngFor="let candidate of candidateData">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on 13th Mar 2022.</span>
                                                </div>
                                                <div class="text-25-400-30">
                                                    <div class="row ratings ">
                                                        
                                                        <rating class="col-md-5" [(ngModel)]="rate" [max]=5 [readonly]="false"></rating>                                                 
                                                    
                                                        <div class="col-md-7 thumbs-rating">
                                                            <div class="col-md-3 thumbs-up-rating">
                                                                <span class=" text-20-400-24">13</span>
                                                                <svg xmlns="http://www.w3.org/2000/svg"   class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                                                </svg>
                                                                                                                            
                                                            </div>
                                                            <div class="col-md-3 thumbs-down-rating">
                                                                <span class="text-20-400-24">13</span>
                                                                <svg xmlns="http://www.w3.org/2000/svg"   class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                                                    <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                                                                </svg>
                                                                                                                            
                                                            </div>
                                                            <span class="col-md-3 text-20-400-24">20 views</span>
            
                                                        </div> 
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-20-600-24">
                                                    <img src="../../assets/Images/tick.svg" alt="tick">&nbsp;&nbsp; {{candidate.success}}
                                                </div>
                                                <div class="view_btn text-20-400-24">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <hr>
                                    </div>
                                    <div *ngFor="let candidate of candidateData">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on 13th Mar 2022.</span>
                                                </div>
                                                <div class="text-25-400-30">
                                                    Reason for rejection
                                                </div>
                                                <div class="text-20-400-24" >
                                                    Improper way of feedback
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-20-600-24 rejected_color">
                                                    <img src="../../assets/Images/cross.svg" alt="cross" >&nbsp;&nbsp;{{candidate.rejected}}
                                                </div>
                                                <div class="view_btn text-20-400-24">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <hr>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div *ngFor="let candidate of candidateData">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on 13th Mar 2022.</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-20-600-24">
                                                    <img src="../../assets/Images/tick.svg" alt="tick">&nbsp;&nbsp;{{candidate.success}}
                                                </div>
                                                <div class="view_btn text-20-400-24">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div *ngFor="let candidate of candidateData">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on 13th Mar 2022.</span>
                                                </div>
                                                <br>
                                                <div class="text-25-400-30">
                                                    Reason for rejection
                                                </div>
                                                <div class="text-20-400-24">
                                                    Improper way of feedback
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-20-600-24 rejected_color">
                                                    <img src="../../assets/Images/cross.svg" alt="cross" >&nbsp;&nbsp;{{candidate.rejected}}
                                                </div>
                                                <div class="view_btn text-20-400-24">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div *ngFor="let candidate of candidateData">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on 13th Mar 2022.</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-20-600-24 rejected_color">
                                                    {{candidate.pending}}
                                                </div>
                                                <div class="view_btn text-20-400-24">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
