@import "/src/styles/mixins";
@import "/src/styles/extend";

.dashboardpage_header{
    @include margin {
        margin-top: 92px;
    }
    background-color: var(--white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(sm){
        margin-top:101px;
    }
    .search-bar-container{
        @include breakpoint(sm){
           // padding: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
        .action_btn{
            @include pxtorem(20);
            @include line_height(30px);
            @include font(600);
            color: var(--purple);
            cursor: pointer;
            @include breakpoint(sm){
            display: flex;
            justify-content: center;
            align-items: center;
            @include margin {
                margin: 0px 0px 0px 20px;
            }
           }
            @include breakpoint(xs){
                @include pxtorem(16);
                line-height: 20px;
                padding:20px 0; 
            }
            @include breakpoint(md){
                @include pxtorem(25);
            }
            &:hover{
                opacity: 0.8;
            }
        }
        .search-bar{
            // @include margin {
            //     margin: 20px 0px;
            // }
            @include breakpoint(sm){
                width: 60%;
            }
        }
        .btn{
            @include width_height(290px, 67px);
            @include breakpoint(ipad) {
                @include width_height(200px, 60px);
            }
        }
        .write-review_btn{
            display: flex;
            justify-content: space-evenly;
            @include pxtorem(25);
            @include line_height(30px);
            // @include margin {
            //     margin: 20px 20px;
            // }
            @include breakpoint(ipad) {
                @include pxtorem(20);
            }
            @include breakpoint(xs){
                @include margin {
                margin: 0px 0px 10px 0px;
                }
             }
        }
        .vl {
            border-right: 1px solid #FFFFFF;
            height: 8em;
            width: 1px;
            margin-left: 2em;
            box-shadow: 1px 0px 4px rgba(98, 23, 124, 0.25);
            @include breakpoint(xs){
                @include width_height (0px, 0px)
             }
          }
        form{
            i{
                position:relative;
                left:2em;
                top:0.8em;
                font-size: 2em;
                z-index:999;
                @include breakpoint(xSmall){
                    left: 35px;
                }
            }
            input{
                height: 67px;
                padding: 0 2.5em;
                @include pxtorem(25);
                @include line_height(30px);
                @include font(400);
                border-radius: 5px !important;
                @include breakpoint(xSmall){
                    @include pxtorem(18);
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            .input-group{
                @include breakpoint(xSmall){
                position: relative;
                left: -22px;
                }
            }
            .input-group-text{
                height: 67px;
                img{
                    @include breakpoint(xSmall){
                        width: 40px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}










.candidates_details{
    position: relative;
    padding-top: 10%;
    background-color: var(--dusky-white);
    .card{
        padding: 30px;
        border-radius: 10px;
        figure{
            position: relative;
            .edit-icon{
                position: absolute;
                width: 2em;
                height: 2em;
                font-size: 1.4em;
                padding: 0.4em;
                top: 6em;
                left: 6em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--purple);
                background-color: var(--light-purple);
                border-radius: 100%;
            }
        }
        .profile_details{
            .text-35-700-42{
                @include pxtorem(35);
                @include line_height(42px);
                @include margin {
                    margin-top: 0.3em;
                }
                @include font(700);
                @include breakpoint(ipad){
                    @include pxtorem(20);
                    @include line_height(30px);
                }
            }
            .more-horiz-icon{
                float: right;
                width: 3em;
                height: 2em;
                padding: 1em;
                box-shadow: 1px 1px var(--purple);
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: var(--purple);
                }
            }
            a{
                text-decoration: none;
                color: #0067A1;
                @include pxtorem(20);
                @include line_height(24px);
                @include font(400);
                @include breakpoint(ipad){
                    @include pxtorem(16);
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .feedback_insights{
        width: 100%;
        //optional
        .card_height{
            height: auto;
            @include breakpoint(sm){
                height: 200px;
            }
        }
        .card{
            .card-title{
                @include pxtorem(30);
                @include line_height(36px);
                @include font(700);
                color: var(--black);
                @include breakpoint(ipad){
                    @include pxtorem(25);
                }
            }
            .nav-tabs{
                border-bottom: none;
                display: flex;
                justify-content: space-between;
                .nav-item{
                    cursor: pointer;
                    .nav-link{
                    border: none;
                    color: var(--black-light);
                    }
                   &:hover,[class*= "active"]  {
                        color: var(--purple) !important;
                        border-bottom: 5px solid #62177C !important;
                    }
                    .text-40-500-48{
                        @include pxtorem(40);
                        @include line_height(48px);
                        @include font(500);
                        // color: var(--black-light);
                        text-align: center; 
                        @include breakpoint(ipad){
                            @include pxtorem(20 );
                        }
                    }
                    .text-22-500-26{
                        @include pxtorem(22);
                        @include line_height(26px);
                        @include font(500);
                        @include breakpoint(ipad){
                            @include pxtorem(18);
                        }
                    }
                }
            }
            .text-25-400-30{
                color: var(--black-light);
                @include margin {
                    margin-bottom: 1em ;
                }
            }
            .text-18-400-21{
                @include pxtorem(18);
                @include line_height(21px);
                @include font(400);
                color: var(--blue);
                text-decoration: underline;
                padding-left: 40px;
                @include breakpoint(ipad){
                    @include pxtorem(16);
                }
            }
            .view_btn{
                // add icons and remove the padding
                margin-bottom: 45px;
            }
            .text-20-600-24{
                @include pxtorem(20);
                @include line_height(24px);
                @include font(600);
                color:var(--light-green);  
                padding: 45px 0px; 
            }
            .rejected_color{
                color: var(--red);
            }
        }
    }
}






