<app-header-dashboardpage></app-header-dashboardpage>

<div class="fixed-top dashboardpage_header">
    <div class="container-fluid search-bar-container">
        <div class="write-review-btn">
            <div class="btn write-review_btn" routerLink="/candidatereview">
                <span>
                    <img src="../../assets/Images/write_review_icon.svg" alt="write_review_icon">
                </span>
                Write review
            </div>
        </div>
        <div class="vl"></div>
        <div class="search-bar">
            <form action="/action_page.php">
                <div class="input-group">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  <input type="text" class="form-control" [(ngModel)]="searchKey" placeholder="Search about candidate by name or email id" name="email">
                  <span class="input-group-text" (click)="searchByName()">
                      <figure>
                        <img src="../../assets/Images/Search_buttonicon.svg" alt="Search_buttonicon">
                      </figure>
                  </span>
                </div>
            </form>
        </div>
        <div class="action_btn" routerLink="/advancedsearch">
            Advanced Search
        </div>
    </div>
</div>


<div class="candidates_details">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="profile_card">
                        <div class="card">
                            <div class="profile_img">
                                <div class="figure">
                                    <img [src]="url" alt="profile_img">
                                   <a href=""  data-toggle="modal" data-target="#uploadPhotoModal">
                                    <div class="edit-icon">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </div>
                                   </a> 
                                </div>

                                <div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </a>
                                                <div class="body-modal">
                                                    <h2>Upload Profile Photo</h2>
                                               <div class="text-18-400-22">
                                                A profile picture helps people recognize you and people will trust in your reviews.
                                               </div> 
                                               <span type="button" class="btn btn-primary">
                                                   Upload Photo
                                                   <input id="fileInput" type='file' (change)="onSelectFile($event)">
                                               </span>
                                            </div>  
                                      </div>
                                    </div>
                                  </div>

                            </div>
                            <div class="profile_details">
                                <h2 class="text-35-700-42">
                                    {{currentUserName}}
                                </h2>
                                <h4 class="text-25-400-30">
                                    {{currentUserEmail}}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-8">
                    <div class="feedback_insights">
                        <div class="card card_height">
                            <div class="card-title">
                                Feedback Insights
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                  <a class="nav-link active" href="#" id="nav-home-tab" data-bs-toggle="tab" (click)="tabChange(0)" data-bs-target="#nav-home"  role="tab" aria-controls="nav-home" aria-selected="true">
                                    <div class="text-40-500-48">{{ candidateFeedbackCountList.allReview  }}</div>
                                    <small class="text-22-500-26">All Reviews</small>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#" id="nav-profile-tab" data-bs-toggle="tab" (click)="tabChange(1)" data-bs-target="#nav-profile"  role="tab" aria-controls="nav-profile" aria-selected="false">
                                    <div class="text-40-500-48">{{ candidateFeedbackCountList.approved }}</div>
                                    <small class="text-22-500-26">Approved</small>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#"  id="nav-contact-tab" data-bs-toggle="tab" (click)="tabChange(2)" data-bs-target="#nav-contact"  role="tab" aria-controls="nav-contact" aria-selected="false">
                                    <div class="text-40-500-48">{{ candidateFeedbackCountList.rejected }}</div>
                                    <small class="text-22-500-26">Rejected</small> 
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link " href="#" id="nav-pending-tab" data-bs-toggle="tab" (click)="tabChange(3)" data-bs-target="#nav-pending"  role="tab" aria-controls="nav-pending" aria-selected="false">
                                    <div class="text-40-500-48">{{ candidateFeedbackCountList.pending }}</div>
                                    <small class="text-22-500-26">Pending</small>
                                  </a>
                                </li>
                              </ul>
                        </div>
                        <div class="card content__part mt-4">
                            <div class="card-title">
                                All reviews<a class="text-18-400-21" (click)="goToViewAll()">View All</a>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="candidateCard" *ngFor="let candidate of allReviewList">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on {{candidate.update_time | date}}.</span>
                                                </div>
                                                <div class="text-25-400-30" *ngIf="candidate.status === 'Approved'">
                                                    <div class="row ratings">
                                                        <div class="col-md-4">
                                                            <rating [(ngModel)]="candidate.rating.length" [max]=5 [readonly]="false"></rating>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="thumbs-rating">
                                                                <div class="thumbs-up-rating">
                                                                    <span class=" tooltiptext text-20-400-24">{{candidate.Helpful}}</span>
                                                                   <span class="thumbs-icon">
                                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                   </span>
                                                                </div>
                                                                <div class="thumbs-down-rating">
                                                                    <span class="tooltiptext text-20-400-24">{{candidate.Not_Helpful}}</span>
                                                                    <span class="thumbs-icon">
                                                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                    </span>
                                                                </div>
                                                                <span class="text-20-400-24">20 views</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-25-400-30" *ngIf="candidate.status === 'Rejected'">
                                                    Reason for rejection
                                                </div>
                                                <div class="text-20-400-24" *ngIf="candidate.status === 'Rejected'">
                                                    {{candidate.justification_for_rejection}}
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-right" *ngIf="candidate.status === 'Approved'">
                                                <div class="text-20-600-24">
                                                    <img src="../../assets/Images/tick.svg" alt="tick">&nbsp;&nbsp; {{candidate.status}}
                                                </div>
                                                <div class="view_btn text-20-400-24" (click)="viewReview(candidate)">
                                                    View Review
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-right" *ngIf="candidate.status === 'Rejected'">
                                                <div class="text-20-600-24 rejected_color">
                                                    <img src="../../assets/Images/cross.svg" alt="cross" >&nbsp;&nbsp;{{candidate.status}}
                                                </div>
                                                <div class="view_btn text-20-400-24" (click)="viewReview(candidate)">
                                                    View Review
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-right" *ngIf="candidate.status === 'Approval Pending'">
                                                <div class="text-20-600-24 pending-color">
                                                    {{candidate.status}}
                                                </div>
                                                <div class="view_btn text-20-400-24" (click)="viewReview(candidate)">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                   
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="candidateCard" *ngFor="let candidate of approvedList">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on {{candidate.update_time | date}}.</span>
                                                </div>
                                                <div class="text-25-400-30">
                                                    <div class="row ratings">
                                                        <div class="col-md-4">
                                                            <rating [(ngModel)]="candidate.rating.length" [max]=5 [readonly]="false"></rating>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="thumbs-rating">
                                                                <div class="thumbs-up-rating">
                                                                    <span class=" tooltiptext text-20-400-24">{{candidate.Helpful}}</span>
                                                                   <span class="thumbs-icon">
                                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                   </span>
                                                                </div>
                                                                <div class="thumbs-down-rating">
                                                                    <span class=" tooltiptext text-20-400-24">{{candidate.Not_Helpful}}</span>
                                                                    <span class="thumbs-icon">
                                                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                    </span>
                                                                </div>
                                                                <span class="text-20-400-24">20 views</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-right">
                                                <div class="text-20-600-24">
                                                    <img src="../../assets/Images/tick.svg" alt="tick">&nbsp;&nbsp;{{candidate.status}}
                                                </div>
                                                <div class="view_btn text-20-400-24" (click)="viewReview(candidate)">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div class="candidateCard" *ngFor="let candidate of rejectedList">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on {{candidate.update_time | date}}.</span>
                                                </div>
                                                <br>
                                                <div class="text-25-400-30">
                                                    Reason for rejection
                                                </div>
                                                <div class="text-20-400-24">
                                                    {{candidate.justification_for_rejection}}
                                                </div>

                                            </div>
                                            <div class="col-md-4 text-right">
                                                <div class="text-20-600-24 rejected_color">
                                                    <img src="../../assets/Images/cross.svg" alt="cross" >&nbsp;&nbsp;{{candidate.status}}
                                                </div>
                                                <div class="view_btn text-20-400-24" (click)="viewReview(candidate)">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div class="candidateCard" *ngFor="let candidate of pendingList">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="text-25-700-30">
                                                    {{candidate.name}}
                                                </div>
                                                <div class="text-25-400-30">
                                                    Interview Review  <span class="text-20-400-24">Reviewed on {{candidate.update_time | date}}.</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-right">
                                                <div class="text-20-600-24 pending-color">
                                                    {{candidate.status}}
                                                </div>
                                                <div class="view_btn text-20-400-24" (click)="viewReview(candidate)">
                                                    View Review
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
