@import "/src/styles/mixins";
@import "/src/styles/extend";


.header_section{
    padding: 20px;
    background-color: var(--white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    .hero_section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(xSmall){
            justify-content: center;
        }
        .hero_logo{
            display: flex;
            justify-content: center;
            align-items: center;
            .text-50-900-60{
                @include font(900);
                @include pxtorem(50);
                @include line_height(60px);
                color: var(--purple);
                cursor: pointer;
                @include breakpoint(xs) {
                    @include line_height(20px);
                    @include pxtorem(17);
                }
                @include breakpoint($min: 768px, $max: 1023px) {
                    @include line_height(25px);
                    @include pxtorem(30);
                }
            }
        }
        .hero_icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 3em;
            @include breakpoint(ipad){
                margin-right: 0;
            }
            .hdr{
                color: var(--purple);
                @include font(500);
                @include pxtorem(32);
                @include line_height(40px);
                @include breakpoint(ipad){
                    @include pxtorem(30);
                    @include line_height(35px);
                }
                @include breakpoint(xs) {
                    @include line_height(16px);
                    @include pxtorem(17);
                    margin-left: 5px;
                }
            }
            .dropdown{
                padding-left: 71px;
                cursor: pointer;
                z-index: 2;
                position: static;
                &:hover{
                    opacity: 1;
                }
                @include breakpoint(ipad) {
                    padding-left: 40px;
                }
                @include breakpoint(xSmall) {
                    padding-left: 15px;
                }
                img{
                    width: 45px;
                    height: 45px; 
                    @include breakpoint(ipad) {
                        @include width_height(30px,30px);
                    }
                }
                .dropdown-menu{
                    padding: 0;
                    width: 32em;
                    border-radius: 10px;
                    @include breakpoint(xs){
                        width: 18em;
                    }
                
                .card{
                    padding: 0 1em;
                    border-radius: 10px;
                    width: 100%;
                    .card-title{
                        margin: 1em;
                        @include pxtorem(30);
                        @include line_height(36px);
                        @include font(700);
                        color: var(--black);
                        @include breakpoint(ipad){
                            @include pxtorem(20);
                        }
                    }
                    .card-body{
                        padding: 0;
                        .card{
                            width: 100%;
                           margin: 5px 0;
                           border-top: none;
                            .card-body{
                                padding: 2px;
                                overflow:hidden;
                                clear: both;
                            }
                        }
                        .text-20-600-24{
                            @include pxtorem(20);
                            @include line_height(24px);
                            @include font(400);
                            color:var(--black);  
                            padding: 45px 0px; 
                            @include breakpoint(xs){
                            @include pxtorem(14);
                            @include line_height(12px);
                            }
                            .status{
                                width: 0.8em;
                            }
                        }
                        .text-18-400-21{
                            @include pxtorem(18);
                            @include line_height(21px);
                            @include font(400);
                            margin: 10px 0;
                            padding: 0;
                            text-decoration: none;
                            text-align: start;
                            color: gray;
                            @include breakpoint(ipad){
                                @include pxtorem(12);
                            }
                        }
                        .reject{
                            border-left: 10px solid var(--red);
                        }
                        .approve{
                            border-left: 10px solid var(--light-green);

                        }
                       
                        .rejected_color{
                            color: var(--red);
                        }
                        .approved_color{
                            color: var(--light-green);
                        }
                    } 
                }
            }
            #edit-profile{
                width: 10em;
                border-radius: 10px;
                // padding: 1em;
                &:hover{
                    opacity: 1;
                }
                @include breakpoint(sm){
                    width: 5em;
                    padding: 5px;
                }
                .text-20-600-24{
                    @include pxtorem(20);
                    @include line_height(24px);
                    @include font(400);
                    color:var(--black);  
                    @include breakpoint(xs){
                        @include pxtorem(14);
                    @include line_height(12px);
                    }
                }
                a{
                    padding: 1em;
                    &:hover{
                        background-color: var(--hover);
                    }
                }
            }
        }   
    }
}
}

.moderator-section{
    background-color: var(--dusky-white);
    min-height: 100vh;
    .moderator-card{
        padding: 30px;
        @include breakpoint(md){
            padding: 80px 200px 50px 200px;
        }
        .mod-top{
            margin: 10px;
            .refresh-button{
                background-color: white;
                border-radius: 10px;
                border: none;
                @include pxtorem(20);
                @include font(400);
                @include line-height(24px);
                @include breakpoint(ipad){
                    @include line-height(20px);
                    @include pxtorem(14);
                }
                box-shadow: 2px 2px 10px rgba(98, 23, 124, 0.2);
                @include width_height(169px, 44px);
                @include breakpoint(ipad){
                    @include width_height(120px, 38px);
                }
                @include breakpoint(xs){
                    @include width_height(80px, 38px);
                    @include margin{
                        margin-top: 10px;
                    }
                }
            }
        }
        .text-35-700-42{
            @include pxtorem(35);
            @include font(700);
            @include line-height(42px);
            @include breakpoint(ipad){
                @include pxtorem(26);
                @include line-height(30px);
            }
            @include breakpoint(xs){
                @include pxtorem(20);
                @include line-height(24px);
            }
        }
        .text-20-400-24{
            margin: 10px 0;
        }
        .rev{
            margin-left: 1em;
            @include breakpoint(xs){
                margin-left: 0;
            }
        }
        .text-25-400-30{
            color: var(--grey-lighter);
        }
        .review{
            color: var(--black) !important;
        }
        .text-30-500-36{
            color: var(--black);
            margin-top: 10px;
            @include breakpoint(xs) {
                @include pxtorem(24);
                @include line_height(30px);
            }
        }
        .allreview_card{
            padding: 20px;
            border-radius: 5px;
            margin: 20px;
            @include breakpoint(sm){
                padding: 25px 70px 50px 70px;
            }
            .text-25-700-30{
                @include font(700);
                @include breakpoint(xs){
                    padding: 20px 0px;
                    @include pxtorem(22);
                }
            }
            .text-25-400-30{
                color: var(--black-light);
                @include margin {
                    margin: 1em 0;
                }
                .fa-user-circle{
                    color: var(--grey-lighter);
                    font-size: 1.4em;
                }
            }
            .view_btn{
                position: relative;
                top: 45%;
                @include margin {
                    margin-left: auto;
                } 
                @include breakpoint(xs){
                    top: 10%;
                    margin-bottom: 40px;
                } 
            }
        }
    }
}