<app-header-dashboardpage></app-header-dashboardpage>
<div class="Onboarding_reviewpage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-7 p-0">
                <div class="card Onboarding_reviewContainer">
                    <p routerLink="/dashboardpage">
                        <i class="fa fa-angle-left pr-5" aria-hidden="true"></i>
                        Back
                    </p>
                    <div class="card-title">
                       <div class="text-30-700-36">
                            Onboarding review 
                            <span class="text-20-600-24 pending-color">
                             Approval Pending
                            </span>
                            </div>
                        <div class="text-25-400-30">
                            by  <span><i class="fa fa-user-circle" aria-hidden="true"></i>
                            </span>  Davis Kuruvilla (Bighaat Pvt Ltd).
                        </div>
                        <div class="text-20-400-24">
                            Reviewed on 13th Mar 2022.
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-30-700-36 ratings">
                            <rating [(ngModel)]="rate" [max]=5 [readonly]="false"></rating>
                        </div>
                        <div class="text-20-400-24 para">
                            Ask one person about including an objective statement on your resume and they’ll say it’s 
                            paramount. Ask another person they’ll say it is outdated. Who knew that a few sentences can 
                            be so polarizing? Ask one person about including an objective statement on your resume and 
                            they’ll say it’s paramount. Ask another person they’ll say it is outdated. 
                            Who knew that a few sentences can be so polarizing?
                        </div>
                        <div class="view_btn btn text-20-400-24">
                            Update Review
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="candidate-card">
                    <div class="card">
                        <div class="card-header text-30-700-36">
                            Candidate Details
                        </div>
                        <div class="card-body p-0">
                            <div class="candidate_name text-30-700-36">
                                Mahesh Rudra Badaballa
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <!-- <img src="../../assets/Images/mobileicon.svg" alt="mobileicon"> -->
                                    badaballarocks@gmail.com
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <!-- <img src="../../assets/Images/mobileicon.svg" alt="mobileicon"> -->
                                    +91 8928382945
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    Figma, Adobe XD
                                </div>
                            </div>
                            <div class="person_information">
                                <div class="text-20-400-24">
                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                    Bighaat Agro Pvt Ltd
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>