<!-- <header class="fixed-top header_section">
    <div class="container">
        <div class="hero_section">
            <div class="hero_logo">
                <div class="text-50-900-60" routerLink="/">Reverse Glassdoor</div>
            </div>
            <div class="hero_text">
              <ul class="text-30-700-36">
                <li routerLink="/login"><a>Login</a></li>
                <li routerLink="/signup"><a>Sign up</a></li>
              </ul>
            </div>
        </div>
    </div>
</header> -->


