@import "/src/styles/mixins";
@import "/src/styles/extend";
//content-section
.header_section{
    padding: 20px 20px;
    background-color: var(--white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    .hero_section{
        display: flex;
        justify-content: space-between;

        .hero_logo{
            display: flex;
            justify-content: center;
            align-items: center;
            .text-50-900-60{
                @include font(900);
                @include pxtorem(50);
                @include line_height(60px);
                color: var(--purple);
                cursor: pointer;
                @include breakpoint(xs) {
                    @include line_height(20px);
                    @include pxtorem(17);
                }
                @include breakpoint($min: 768px, $max: 1023px) {
                    @include line_height(25px);
                    @include pxtorem(30);
                }
            }
        }
        .hero_text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 3em;
            .text-30-700-36{
                color: var(--purple);
            }
            ul{
                list-style-type: none;
                display: flex;
                @include margin {
                    margin: 10px 0px;
                }
                li{
                    padding-left: 71px;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.8;
                    }
                    @include breakpoint(xSmall) {
                        padding-left: 15px;
                    }
                    @include breakpoint(ipad) {
                        padding-left: 40px;
                    }
                }

            }
        }
    }
}

//home_section

.home_section{
    .hero_section{
            @include breakpoint(xs) {
                margin: 0px !important;
            }
            @include breakpoint(ipad) {
                margin: 15px 0px;
            }
        background-image: url("../../assets/Images/homepage_background_image.svg");
        height: 750px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: center;
        @include breakpoint(xs) {
            height: 85vh;
        }
        .card{
            width: 70%;
            height: 330px;
            transform: translate(20%, 50%);
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(2px);
            border-radius: 10px;
            @include breakpoint(xs) {
                width: 100%;
                transform: translate(0%, 30%);
                height: 240px;
            }
            .card_title{
                color: var(--white);
                @include font(700);
                @include pxtorem(35);
                @include line_height(48px);
                padding: 70px 0px;
                @include breakpoint(xSmall) {
                    @include pxtorem(20);
                    @include line_height(30px);
                    padding: 30px 0px;
                }
                @include breakpoint($min: 481px, $max: 767px){
                    @include pxtorem(25);
                    padding: 20px 0px;
                }
                @include breakpoint($min: 768px, $max: 1023px) {
                    @include pxtorem(30);
                }
            }
        }
        .write-reviewbtn{
            border-radius: 5px;
            backdrop-filter: blur(20px);
            background: rgba(5, 4, 7, 0.7);
            position: absolute;
            top: 120%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            @include width_height(60%, 50px);
            padding: 20px;
            @include breakpoint(sm){
                @include width_height(353px, 79px);
            }
        }
        .input-group{
            width: 80%;
            margin: auto;

        }
    }
    .search_candidate_section{
        background-color: #F4F4F4;
        .search_candidates_img img{
            @include width_height(100%, 380px);
            @include breakpoint(xs) {
                width: 100%;
                @include width_height(100%, 200px);
                @include margin {
                    margin:40px 0px 0px;
                }
            }
        }
    }
    .write_review_section{
        .write_review_textarea{
            text-align: right;
            @include breakpoint(xSmall) {
                text-align: left;
            }
        }
        .write-review_btn{
            float: right;
            width :320px !important; 
            @include breakpoint(ipad) {
                width: 240px !important;
            }
            @include breakpoint(xSmall){
                float: none;
            }
        }
        .write_review_img img{
            @include width_height(100%, 380px);
            @include breakpoint(xs) {
                width: 100%;
                @include width_height(100%, 200px);
                @include margin {
                    margin:40px 0px 0px;
                }
            }
        }
    }
    .search_candidate_section, .write_review_section {
        padding: 100px;
        @include breakpoint(ipad){
            padding: 50px 0px;
        }
        .btn{
            @include width_height(465px, 79px);
            justify-content: space-evenly;
            @include pxtorem(30);
            @include line_height(36px);
            @include margin {
                margin-top: 70px;
            }
            @include breakpoint(xSmall){
                width: 65%;
                @include margin {
                    margin: 50px auto;
                }
            }
            @include breakpoint(ipad) {
                width: 95%;
                @include pxtorem(18);
                @include line_height(25px);
                height: 55px;
                @include margin {
                    margin: 50px auto;
                }
            }
        }
        h1{
            @include font(700);
            @include pxtorem(35);
            @include line_height(147%);
            color: var(--black-light); 
            padding: 30px 0px;
            @include breakpoint(ipad) {
                @include pxtorem(20);
                padding: 10px 0px;
            }
        }
        small{
            @include font(400);
            @include pxtorem(25);
            @include line_height(147%);
            @include breakpoint(ipad) {
                @include pxtorem(16);
            }
        }
    }
    .write-review_btn,.btn img{
        width: 40px;
        height: 40px;
    }
}


// pop-up_section
.login_popup,.signup_popup{
    .card{
        padding: 40px;
        margin-top: 100%;
        text-align: center;
        margin: auto;
        background: var(--white);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        text-align: center;
        position: absolute;
        top: -10%;
        transform: translate(0%, 50%);
        z-index: 100;
        @include breakpoint(xSmall){
            width: 95%;
            padding: 30px 10px;
        }
        .text-30-700-36{
            color: var(--black-light);
            @include breakpoint(ipad){
                @include pxtorem(20);
                @include line_height(27px);
            } 
        }
        .text-18-400-27{
            @include font(400);
            @include pxtorem(18);
            @include line_height(27px);
            color: var(--black-light);
            padding: 20px 0px;
            @include breakpoint(ipad) {
                @include pxtorem(16);
                padding: 0px;
            }
        }
        span{
            color: var(--blue);
            cursor: pointer;
        }
        .card-body{
            margin: auto;
            form{
                input{
                    width: 100%;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border: 1px solid #62177C;
                    }
                    .invalid-feedback{
                        text-align: left;
                        border: 1px solid green !important;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                            border: 1px solid green;
                        }
                    }
                    @include breakpoint(sm){
                        @include width_height(400px,63px); 
                    }
                }
                .form-floating>label{
                    @include pxtorem(18);
                    font-family: 'Lato';
                    color: var(--gray-light);
                    @include breakpoint(ipad) {
                        @include pxtorem(14);
                    }
                }
                .invalid-feedback{
                    text-align: left;
                }
            }
            .btn{
                @include margin {
                    margin: 30px auto 0px;
                }
                width: 100%;
                outline: none;
                @include width_height(81%,50px);
                @include pxtorem(20);
                @include line_height(24px);
                @include breakpoint(sm) {
                @include width_height(220px,50px);
                }
                @include breakpoint(ipad){
                    @include pxtorem(18);
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .title{
            @include breakpoint(sm){
                @include margin {
                    margin-bottom: 56px;
                }
            }
        }
        .btnn{
            @include margin {
            margin-top: 160px !important;
            }
        }
        .Action_btn{
            @include margin {
                margin: 30px auto 30px !important;
                @include breakpoint(xSmall){
                    margin: 0px auto !important;
                }
            }
        }
    }
}
