<app-header></app-header>
<div class="home_section">
    <div class="hero_section">
        <div class="container">
            <div class="card">
                <div class="card_title text-center">
                    Search and find out about candidates
                </div>
                <form action="/action_page.php">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Name / Email Address / Phone number" name="email">
                      <span class="input-group-text">
                          <figure>
                            <img src="../../assets/Images/Search_buttonicon.svg" alt="Search_buttonicon">
                          </figure>
                      </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="search_candidate_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="search_candidates_textarea">
                        <h1>
                            View about candidates reviews and
                            Ratings given by other companies and HRs
                        </h1>
                        <small>
                            Search about the candidatesusing their details mentioned in the resume
                            and find out what other companies have to say about them before hiring.
                        </small><br>
                        <div class="btn">
                            <span>
                                <img src="../../assets/Images/searchicon_candidate.svg" alt="searchicon_candidate">
                            </span>
                            Search about candidate
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                   <div class="search_candidates_img">
                    <figure>
                        <img src="../../assets/Images/search_candidate.svg" alt="search_candidate"  width="100%">
                    </figure>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="write_review_section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="write_review_img">
                        <figure>
                            <img src="../../assets/Images/Write_review.svg" alt="Write_review" width="100%">
                        </figure>
                   </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="write_review_textarea">
                        <h1>
                            Review the candidates that appear
                            in your interview
                        </h1>
                        <small>
                            Search about the candidatesusing their details mentioned in the resume
                            and find out what other companies have to say about them before hiring.
                        </small><br>
                        <div class="btn write-review_btn">
                            <span>
                                <img src="../../assets/Images/write_review_icon.svg" alt="write_review_icon">
                            </span>
                            Write a review
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

