@import "/src/styles/mixins";
@import "/src/styles/extend";


.viewall_section{
    background-color: var(--dusky-white) !important;
    .card{
        padding:50px 0px 20px 0px;
        .card-title{
            @include pxtorem(30);
            @include line_height(36px);
            @include font(700);
            color: var(--black);
            @include breakpoint(ipad){
                @include pxtorem(25);
            }
        }
        .text{
            text-align: left;
            @include breakpoint(xs){
                text-align: center;
            }
        }
    }
    .allreviews_section{
        @include breakpoint(min1601){
            width: 50%;
            margin: auto;
        }
        .card{
            padding: 30px;
            .text-right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                @include breakpoint(xs){
                    align-items: flex-start;
                }
            }
        }
        .candidateCard:nth-last-child(1){
            hr{
                display: none;
            }
        }
    }
    
}
