@import "/src/styles/mixins";
@import "/src/styles/extend";


.viewall_section{
    background-color: var(--dusky-white) !important;
    .card{
        padding:50px 0px 20px 0px;
        .card-title{
            @include pxtorem(30);
            @include line_height(36px);
            @include font(700);
            color: var(--black);
            @include breakpoint(ipad){
                @include pxtorem(25);
            }
        }
        .text{
            text-align: left;
            @include breakpoint(xs){
                text-align: center;
            }
        }
    }
    .allreviews_section{
        @include breakpoint(min1601){
            width: 50%;
            margin: auto;
        }
        .card{
            padding: 30px;
            .view_list{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include breakpoint(sm){
                    display: grid;
                    justify-content: flex-end;
                }
                .text-20-600-24{
                    @include breakpoint(sm){
                        text-align: right;
                    }
                }
                .view_btn{
                    margin-bottom: 45px;
                    @include breakpoint(ipad){
                        padding: 5px 10px;
                    }
                    @include breakpoint(xs){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    
}
